*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media print {
    .resume{
        margin: 2.5rem auto !important;
        width: 21cm !important;
        height: fit-content !important;
        /* justify-content: flex-start !important; */
    }
}

.resume{
    /* width: 21cm; */
    height: 29.7cm;
    /* overflow: hidden; */
}

p{
    margin: 0;
}