
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');


body{
  background-color: #141414 !important;
  color: #fff !important;
  font-family: 'Nunito Sans', sans-serif;
  overflow-x: hidden;
}

a{
  color: inherit !important;
  text-decoration: none !important;
  display: block;
  padding: 0.8rem 0;
}

input:focus, textarea:focus{
  outline: none;
}

.resume-div{
  overflow-y: scroll;
  /* overflow-x: hidden; */
  height: 90vh;
  width: 50vw;
}

.home{
  width: calc(100% - 15vw)
}

.home{
  height: calc(100% - 12vh);
}

.question-div{
  width: 25vw;
}

.form-content{
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 25vw;
  overflow: auto;

}

.auth button{
  width: 10vw;
}

.resume p{
  margin-bottom: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #242424;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #191A19;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

.phone{
  display: none;
}


@media screen and (max-width: 748px) {
  .App{
    display: none;
  }

  .phone{
    display: flex;
  }
}